/*body {
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
}

html, body {
	height:100%;
	background-color: #efefef;
}
div > span > div > div > a, div > span > div > div > a:hover{
	color:#ffffff;
}
@brand-info:    #a08934;

@media screen and (max-width : 768px) {
   	.desktop{
   		display:none;
   	}
   	.mobile{
   		display:'';
   	}
   	
}

@media screen and (min-width : 769px) {
     .desktop{
   		display:'';
   	}
   	.mobile{
   		display:none;
   	}
   
}
*/

@font-face{
	font-family: lato-regular;
    src: url(../fonts/Lato-Regular.woff);
}
@font-face{
	font-family: lato-bold;
    src: url(../fonts/Lato-Bold.woff);
}
body{
	background-color: #efefef;
}
.fonteNormal{
	font-family: lato-regular;
}
.fonteBold{
	font-family: lato-bold;
}
.entrada{
	font-size: 20px;
	color:#ffffff;
	height: 100%;
	font-family: lato-bold;
	display: none;
}
#logoVivo {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-110px;
	margin-top:-40px;
	display: none;
}
.linhaNome{
	background-color: #0066cb;
	height: 100px;
	display: none;
}
.listaCabecalho{
	font-family: lato-bold;
	font-size: 18px;
	height: 60px;
}
.lista{
	font-family: lato-bold;
	font-size: 18px;
	color: #0066cb;
	height: 60px;
}
#conteudo{
	display: none;
	background-color: #000000;
}